/* ........................... ШРИФТЫ ........................................ */

h1{
  font-family: 'Comfortaa', cursive;
  line-height: 1.2;
  font-size: 5.0rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 12px rgb(255, 255, 255),
    1px 1px 15px rgb(55, 37, 119);
}   

h2{
  color: #fff;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff;
  background-position: center;
  color: #fff;
  width: auto;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.line h2:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 61%;
  background:rgb(255, 255, 255);
  top: 157px;
  margin: 0 auto;
  left: 0;
  box-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  inset 0 0 15px #fff;
}
  
.line h2:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 61%;
  background:rgb(255, 255, 255);
  top: 100px;
  margin: 0 auto;
  right: 0;
  box-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  inset 0 0 15px #fff;
}

@media (max-width: 1000px){
  .line h2:before, .line h2:after{
    background: none;
    box-shadow: none;
  }
}

.without{margin:0;}

hr{
  background-color: #fff;
  box-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  inset 0 0 15px #fff;
  border: solid 1px #fff;
}

h3{
  font-family: 'Comfortaa', cursive;
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.8rem;
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 7px #fff;
}

p, label{
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: medium;
  line-height: 1.3rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(40, 36, 36, 0.484);
}

a{
  color: rgb(255, 255, 255);
  list-style: none;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  margin: 1rem;
  text-shadow:
    0 0 5px #fff,
    0 0 7px #fff;
}
li{list-style: none;}

/* ......................... ГЛОБАЛЬНЫЕ НАСТРОЙКИ .................................... */

* { margin: 0; padding: 0;}

/* .......................... HEADER ...................................*/

header{
  position: relative;
  display: flex;
}

.container{
  background:
  linear-gradient(to right,  rgb(160, 39, 126), rgb(115, 42, 146), rgb(37, 50, 152));
  height: 61px;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 5;
}

#main-menu{
  list-style: none;
  display: inline-flex;
}

.m-m-li {display: inline-block; }

.m-m-li a{
  padding: auto 10px;
  margin: 1.3rem;
  display: inline-block;
}

.m-m-li a:hover{
  animation: neon-2 4s steps(1, start) infinite reverse;
} 

@keyframes neon-2 {
  0%{
    color: #6e07aa;
    text-shadow: 0 0 7px #6e07aa, 0 0 8px #6e07aa;
  }
  80%{
    color: #ffffff;
    text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px rgb(171, 0, 197);
  }
  81%{
    color: #d89cf9;
    text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px rgb(171, 0, 197);
  }
  82%{color: #6e07aa;
    text-shadow: 0 0 7px #6e07aa, 0 0 8px #6e07aa;
  }
  83%{
    color: #ffffff;
    text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px rgb(171, 0, 197);
  }
  84%{
    color: #6e07aa;
    text-shadow: 0 0 7px #6e07aa, 0 0 8px #6e07aa;
  }
  85%{
    color: #ffffff;
    text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px rgb(171, 0, 197);
  }
  100%{
    color: #6e07aa;
    text-shadow: 0 0 7px #6e07aa,0 0 8px #6e07aa;
  }
}

/* ЗАНИМАЕТ ПРОСТРАНСТВО ЗА ХЕДЕРОМ */
.space{
  height: 6rem;
}
.space2{
  height: 4rem;
}

/*  БУРГЕР */

.hamburger-menu{display: none;}

@media (max-width:767px){

  /* скрытие меню для полго экрана*/
  #main-nav{display: none;} 

  /* показ меню-бургера*/
  .hamburger-menu{
    display: block;
    position: relative;
  }
  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;  /* устанавливает непрозрачность элемента */
  }
  /* стилизация кнопку */
  .menu__btn {
    display: flex;
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 
    0 0 5px #fff,
    0 0 7px #fff,
    inset 0 0 5px #fff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -100%;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    list-style: none;
    text-align: center;
    /* background: linear-gradient(45deg, #7c16b3 0%, #9b1987 50%, #380ea3 100%); */
    background: linear-gradient(to right,  rgb(160, 39, 126), rgb(115, 42, 146), rgb(37, 50, 152));
    box-shadow: 5px 0px 10px rgb(255, 255, 255);
    
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
  }
  .menu__item a {text-shadow: 2px 2px 3px rgba(40, 36, 36, 0.645);}

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 0;
  }

  /* НЕБОЛЬШАЯ АНИМАЦИЯ БУРГЕРА И ВЫЕЗДА */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
}





/* ............................... ОСНОВНАЯ ЧАСТЬ .......................... */

body{
  background:
    linear-gradient(to right,  rgba(150, 39, 131, 0.573), rgba(100, 35, 121, 0.616), rgba(54, 32, 132, 0.663)),
    repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.123) 40px,
    rgba(249, 243, 179, 0.24) 80px, rgba(255, 255, 255, 0.286) 120px,
    rgba(169, 241, 255, 0.186) 160px, rgba(0, 0, 255, 0.373) 200px,
    rgba(109, 1, 167, 0.379) 240px, rgba(255, 64, 255, 0.503) 280px,
    rgba(255, 0, 0, 0.123) 300px), 
    repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.123) 40px,
    rgba(255, 251, 202, 0.195) 80px, rgba(255, 255, 255, 0.2) 120px,
    rgba(169, 241, 255, 0.122) 160px, rgba(0, 0, 255, 0.373) 200px,
    rgba(109, 1, 167, 0.214) 240px, rgba(255, 64, 255, 0.356) 280px,
    rgba(255, 0, 0, 0.123) 300px), 
    repeating-linear-gradient(23deg,  rgba(255, 0, 0, 0.123) 50px, rgba(254, 250, 207, 0.211) 100px,
    rgba(255, 255, 255, 0.204) 150px,  rgba(169, 241, 255, 0.089) 200px, rgba(0, 0, 255, 0.253) 250px,
    rgba(109, 1, 167, 0.393) 300px,  rgba(255, 64, 255, 0.389) 350px, rgba(255, 0, 0, 0.082)  370px), 
    rgb(6, 4, 28);
  margin: auto;
  /* backdrop-filter: blur(5px); */
}

section{
  padding: 2rem;
  text-align: justify;
  max-width: 1600px;
}

/* ...................... ПОДВАЛ НА GRID .............................. */

footer{
  position: relative;
  color: rgba(255, 255, 255, 0.518);
  max-width: 1600px;
  width: 100%;
  padding: 1rem 0;
  background:
  linear-gradient(to right,  rgba(123, 22, 95, 0.748), rgba(96, 37, 122, 0.715), rgba(40, 49, 119, 0.699)),
    repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.123) 40px,
    rgba(249, 243, 179, 0.24) 80px, rgba(255, 255, 255, 0.286) 120px,
    rgba(169, 241, 255, 0.186) 160px, rgba(0, 0, 255, 0.373) 200px,
    rgba(109, 1, 167, 0.379) 240px, rgba(255, 64, 255, 0.503) 280px,
    rgba(255, 0, 0, 0.123) 300px), 
    repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.123) 40px,
    rgba(255, 251, 202, 0.195) 80px, rgba(255, 255, 255, 0.2) 120px,
    rgba(169, 241, 255, 0.122) 160px, rgba(0, 0, 255, 0.373) 200px,
    rgba(109, 1, 167, 0.214) 240px, rgba(255, 64, 255, 0.356) 280px,
    rgba(255, 0, 0, 0.123) 300px), 
    repeating-linear-gradient(23deg,  rgba(255, 0, 0, 0.123) 50px, rgba(254, 250, 207, 0.211) 100px,
    rgba(255, 255, 255, 0.204) 150px,  rgba(169, 241, 255, 0.089) 200px, rgba(0, 0, 255, 0.253) 250px,
    rgba(109, 1, 167, 0.393) 300px,  rgba(255, 64, 255, 0.389) 350px, rgba(255, 0, 0, 0.082)  370px),
     rgb(6, 4, 28);
  text-align: center;
}

.footer-box{
  display: grid;
  margin: 10px;
  padding: 0px 0px; 
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* шаблон для колонок */
  grid-gap: 10px; /* отступы между ячейками */
  justify-items: center;
  align-items: start;
}
.footer-blocks1 , .footer-blocks2, .footer-blocks3 {
  width: 90%;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.footer-blocks1{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 3rem auto; /* шаблон для колонок */
  gap:10px
}

.footer-blocks2{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); /* шаблон для колонок */
  /* grid-template-rows: repeat(auto-fill, minmax(50%, 1fr)); шаблон для колонок */
  gap:10px
}

.footer-blocks3{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 3rem 1rem 1.9rem 1.9rem 1.9rem; /* шаблон для колонок */
  gap:10px
}
.footer-blocks3 a{ margin: 0; text-shadow: 2px 2px 3px rgba(40, 36, 36, 0.645);}

.f-l-2 , .f-l-3{
  width: 40%;
  max-width: 70px;
}
.f-l-1 {
  width: 40%;
  max-width: 90px;
}

@media (max-width: 720px){
  
  .footer-blocks2{
    visibility: hidden;
    grid-template-rows: repeat(2, 0px); 
    grid-template-columns: repeat(2, 0px); 
  }
  .footer-blocks1 h3, .footer-blocks3 h3{font-size: 1.3rem;}

  .footer-box{
    margin: 10px;
    padding: 0px 0px; 
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: start;
  }
  .footer-box:nth-child(2) { visibility: hidden; }
}


/* ............................. ФОРМА ................................ */

form{
  background: linear-gradient(45deg, #6d00a796 0%, #ee64ce78 50%, #23007b92 100%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width:80%;
  margin:1rem auto;
  padding: 1rem;
}

fieldset legend{text-align: left;}
fieldset{text-align: center;}

input:focus , textarea:focus , select:focus , option:focus{
  box-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  inset 0 0 15px #fff;
}

input::placeholder,  button::placeholder , textarea::placeholder ,  option::placeholder{
  color: rgba(107, 0, 142, 0.673);
  font-style: italic;
}

/* ПОЗИЦИОНИРОВАНИЕ ЭЛЕМЕНТОВ ФОРМЫ НА ГРИДАХ */

.fieldset{
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.fieldset.personal , .fieldset.contacts{
  grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
}

.fieldset.univer{
  grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
}

.fieldset.creation{
  /* grid-template-columns: repeat(auto-fit, minmax(106px, 1fr)); */
  grid-template-rows: repeat(auto-fit, 50px);
}

.full-width {
  grid-column: 1 / 3;   
}

.full-width textarea{
  resize: horizontal;
	width: 70%;
}

.fieldset.butt{
  grid-template-columns: repeat(auto-fit, minmax(106px, 1fr)); 
  grid-template-rows: repeat(auto-fit, minmax(106px, 1fr)); 
}

@media (max-width: 550px){
  legend h3{
    font-size: 1rem;
  }
  .fieldset label{
    font-size: .8rem;
  }
  .fieldset input {
    max-width: 90px;
  }
  .fieldset input::placeholder {
    font-size: .6rem;
  }
}

/* КНОПКИ НА ФОРМЕ */
.btn-form{
  font-family: 'Comfortaa', cursive;
  font-size: .7rem;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 12px 0px;
  max-width: 6rem;
  height: 2.2rem;
  margin: 10px auto;
  border-radius: 20px;
  background: linear-gradient(45deg, #6d00a7 0%, #ee64ce 50%, #23007b 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  border: 0;
  color: white;
  box-shadow: 0 0px 15px 4px rgba(78, 0, 120, 0.818);
  transition: .5s;
}

.btn-form:hover {
  box-shadow: none;
  background-position: 0 0;
}


/* ................................ ФОТОГАЛЕРЕЯ ............................. */

.grid-container {
  columns: 4 230px;
  width: 94%;
  margin: 1rem auto;
}

.grid-container .grid-div {
  margin: 0 0 1.2rem 0;
  display: inline-block;
  width: 95%;
  border: solid 2px rgba(95, 18, 123, 0.166);
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(59, 15, 69, 0.623);
  border-radius: 5px;
  transition: all .25s ease-in-out;
  background-color: rgb(255, 255, 255);
}

/* НИЖЕ ИЗМЕНЕНИЯ ДЛЯ КАРТОЧЕК ПЕДАГОГОВ!!!!! */
.grid-container.teacher{ 
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem;
  row-gap: 0rem;
  width: 100%;
  margin: 1rem auto;
}
.card-teacher .grid-div {
  margin: 0 1.2rem 1.2rem 0;
  display: inline-block;
  width: 96%;
  border: solid 2px rgba(85, 55, 96, 0.453);
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(59, 15, 69, 0.623);
  border-radius: 5px;
  transition: all .25s ease-in-out;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
.grid-container.teacher .card-teacher{
  margin-bottom: 0;
  display: inline-block;
  width: 90%;
  border: none;
  padding: 5px;
  box-shadow: none;
  border-radius: 0;
  transition: all .25s ease-in-out;
  background-color:#00b3ff00;
  margin-left: auto;
  margin-right: auto;
}
/* ВЫШЕ ИЗМЕНЕНИЯ ДЛЯ КАРТОЧЕК ПЕДАГОГОВ!!!!! */

.grid-container .grid-div:hover {
  border-color: rgb(255, 255, 255);
  box-shadow: 
    0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 1rem #fff,
    inset 0 0 .5rem #fff;
}

.grid-container .grid-div img {
  width: 100%;
  border-radius: 5px;
}

.grid-container .grid-div p {
  color: #9d32ce;
}


/*................. ВСПЛЫВАЮЩЕЕ МОДАЛЬНОЕ ОКНО "ПОДРОБНЕЕ" О ПЕДАГОГАХ .....................*/

/* Стили всплывающего окна по-умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.545); /* затемнее фона вокруг*/
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  transition: opacity .2s ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

/* При отображении модального окно, когда якорная ссылка активировалась */
.modal:target { 
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 1100px) {
  .modal-dialog {
      min-width: 800px;
      margin: 30px auto; /* отображение окна по центру */
    }
  }

@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #7100ae 0%, #a72193 50%, #23007b 100%);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.221);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
/* Стили заголовка окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ffffffb2;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgb(0, 0, 0);
  opacity: .5;
  text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
  color: rgb(119, 35, 147);
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
  padding: 15px;
  overflow: auto;
}

/* ..................... КНОПКА "ПОДРОБНЕЕ" ....................... */

.pressed-btn {
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: 12rem;
  height: 2.2rem;
  margin: 10px auto;
  border-radius: 5px;
  background: linear-gradient(45deg, #6d00a7 0%, #ee64ce 50%, #23007b 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  box-shadow: 0 6px 15px 0 rgba(78, 0, 120, 0.601);
  transition: .5s;
}
.pressed-btn a{margin-top: 0.6rem;}

.pressed-btn:hover {
  box-shadow: none;
  background-position: 0 0;
  letter-spacing: 0.8rem;
}

/* ............................. ПРОГРЕСС БАР ............................ */

.progress-line {
  height: .2rem;
  position: fixed;
  top: 3.8rem;
  left:0;
  background-color: rgba(255, 255, 255, 0.778);
  z-index: 1000;
  box-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  inset 0 0 15px #fff;
}

/* ............................. СТРАНИЦА НОВОСТИ  ............................ */

/* БЛОК НОВОСТЕЙ */
.vk-sec{ 
  width: 50%;
  margin: 0 1rem;
  padding: 2rem 0 ;
}

iframe{
  width: 100%;
}
/* одна новость */
.vk-item{
  margin-bottom: 2rem;
}
/* блок-содержание */
.news{
  position: sticky;
  top: 6rem;
}
/* ul */
.news-list{
  padding: 0;
  margin-top: 2rem;
}
/* li */
.news-item{
  margin-bottom: 2.6rem;
}
.news-item a{text-shadow: 2px 2px 3px rgba(40, 36, 36, 0.645);}

/* БЛОК НАПОМИНАЛКА */
.newstwo{
  position: sticky;
  top: 4rem;
}
/* h3 */
.forgot{
  font-size: 2rem;
  font-weight: 500;
  line-height: 7rem;
  word-spacing: 100vw
}

.left-aside {
  background: linear-gradient(45deg, #6d00a741 0%, #f949d03b 50%, #23007b45 100%);
  backdrop-filter: blur(40px);
  padding: 2rem 0 ;
  padding-bottom: 4rem;
  width: 22%;
  margin-right: .5%;
  float: left;
  box-shadow: inset -5px 0px 5px -5px #ffffff;
}

.right-aside {
  backdrop-filter: blur(10px);
  width: 25%;
  float: right;
  box-shadow: inset 5px 0 5px -5px #ffffff;
}

.adaptive{
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width:1000px){
  .adaptive{
    flex-direction: column;
  }
  .vk-sec{
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .vk-item{
    width: 100%;
    margin-bottom: 1rem;
  }
  .left-aside, .right-aside {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow:none;
  }
  .right-aside{
    backdrop-filter: blur(0px);
  }

  /* блок-содержание */
  .news{
    position:static;
    /* top: 6rem; */
  }
  /* ul */
  .news-list{
    padding: 0;
    margin-top: 2rem;
  }
  /* li */
  .news-item{
    margin-bottom: 1.5rem;
  }
  /* блок напоминалка */
  .newstwo{
    position: static;
    margin-bottom: 1.5rem;
    /* top: 4rem; */
  }
  /* h3 */
  .forgot{
    font-size: 1.5rem;
    font-weight:300;
    line-height:normal;
    word-spacing:normal;
    text-shadow:
    0 0 3px #fff,
    0 0 5px #fff;
  }
}
.news-section{
  padding-bottom:10px;
}



/* ............................ ГЛАВНАЯ СТРАНИЦА .............................. */

/* ОБЛОЖКА */

.cover{
  background-image: url(foto/cover.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 20%; 
  padding-bottom: 70px;
  max-width: 1600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items:flex-end; */
}

.cover-div{
  position:absolute;
  padding: 19px;
  border-radius: 10px;
  top: 32%;
  z-index: 1;
  backdrop-filter: blur(5px);
  /* background-color: #00000041; */
}

.cover-div p{
  margin-top: 1.5rem;
  text-align: center;
  line-height: 2rem;
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  font-weight: 250;
  text-shadow:
    /* 0 0 3px #fff,
    0 0 4px #fff,
    0 0 5px #fff, */
    0 0 10px rgb(254, 157, 226),
    1px 1px 11px rgb(254, 157, 226),
    1px 1px 13px rgb(254, 157, 226),
    1px 1px 17px rgb(254, 157, 226);
}

@media (max-width:767px) {
  .cover{
    /* max-width: none; */
    padding-bottom: 40px;
    background-size: auto 100%;
    background-image: url(foto/cover.JPG);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
  }
  
  .cover-div p{
    font-size: 0.8rem;
    font-weight: 100;
  }

  h1{
    font-size: 3rem;
    font-weight: 300;
    animation: none;
  }

}

@media (max-width: 560px){
  .cover {
    /* background-size:  100%; */
    background-position: center;
  }
  
}

.intro{
  text-align: center;
}

.intro2{
  text-align: center;
  font-size: 1.5rem;
}


/* ........................ КАРТОЧКИ ........................  */

.post-wrap {
  /* overflow: hidden;
  overflow-x: scroll; */
  max-width: 100%;
  margin: 0 auto;
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}
.post-item {
  padding: 5px;
}
.post-item * {
  transition: .3s linear;
}
.item-content {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.245);
  /* background: linear-gradient(45deg, #6d00a764 0%, #ee64ce77 50%, #23007b7d 100%);  */
  backdrop-filter: blur(50px);
  padding: 30px;
}
.item-icon {
  margin: 0 0 7px 7px;
}
.item-icon:before {
  content: "";
  font-family: FontAwesome;
  color: #f8cfff;
  font-size: 70px;
  line-height: 1;
  transition-delay: .1s;
}
.item-icon.friend:before {
  content: "\f004";
}
.item-icon.music:before {
  content: "\f001";
}
.item-icon.diamond:before {
  content: "\f219";
}
.item-icon.group:before {
  content: "\f0c0";
}
.item-icon.smile:before {
  content: "\f118";
}
.item-icon.star:before {
  content: "\f006";
}
.post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
  transform: translateY(-8px);
}
.item-content:hover{
  box-shadow: 
    0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 1rem #fff,
    inset 0 0 .5rem #fff;
}

.item-body h3 {
  transition-delay: .05s;
  text-align: left;
}

.item-body p {
  transition-delay: .1s;
  text-align: left;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .post-item {
     flex-basis: 50%;
     flex-shrink: 0;
  }
}
@media (min-width: 960px) {
  .post-item {
     flex-basis: 33.333333333%;
  }
}

.block-div{
  display: flex;
  gap: 1rem;
}

/* ВРЕМЯ */

#timer-counter{
  font-family: 'Comfortaa', cursive;
  color:rgb(255, 255, 255);
  font-size: 2rem;
}


/* МЕДИА ДЛЯ ВСЕХ СВЕТЯЩИХСЯ ЭЛЕМЕНТОВ */